// Project: Gulp Starter (Wordpress version)
// Project URI: https://github.com/GrafSoul/gulp-starter-wordpress
// Version: 1.0
// Tags: gulp, html, css, js, sass
// Description: Gulp Starter (Wordpress version) - Project builder for web development.
// Author: Dmitriy Zatulovskiy
// Author URI: https://github.com/GrafSoul , http://networkroom.ru

/* ==========================================================================
   Base Rules
   ========================================================================== */

html {}

body {}

h1,
h2,
h3,
h4,
h5,
h6 {}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {}

a {

   &:hover {}
}

/* ClearFix
   ========================================================================== */

.clearfix {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}